
 <div class="places row">
<% @places.each do |place|%>
<div class="col s4">
<div class="card medium">
    <div class="card-image waves-effect waves-block waves-light">
     <a href="<%=place_path(place)%>">
    </div>

<div class="card-image waves-effect waves-block waves-light">
     <a href="<%=place_path(place)%>"> <img class="size", class="activator" src="<%= place.image %>"></a>
    </div>


    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
       <a class="color1", href="<%=place_path(place)%>"><%= place.name %> </a>
      </span>
    </div>
  </div>
 </div>
<% end %>
</div>

