<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Courgette|Great+Vibes|Indie+Flower|Patrick+Hand" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu" rel="stylesheet">
  </head>

<header class="card-panel brown lighten-3">

<h1> Tourist Haven </h1>

 <div class="row">
      <div class="col s3 "> 
         
       <%= link_to "Cities", cities_path , class:"color" %>

      </div>
      <div class="col s3 ">
       
        <%= link_to "Places to go", places_path, class:"color" %>

      </div>
       
      <div class="col s3">
       <%= link_to "Things to do", categories_path, class:"color" %>

      </div>

      <div class="col s3">
       <%= link_to "Activity", activities_path, class:"color" %>

      </div>
     
    </div>

</header>

  <body>

    <%= yield %>
  </body>
</html>
